

<p-toast />
<p-confirmDialog />

<div style=" width: 60%;  margin:  auto!important;" >

  <div class="card" style=" margin-bottom: 2em; " >

    <p-toolbar>
        <div class="p-toolbar-group-start">
            <p-button icon="pi pi-plus" label="Add address" class="mr-100" (onClick)="addOrUpdateOneAdress('add')" /> &nbsp;  &nbsp;
            <p-button icon="pi pi-print" label="Update address" class="mr-2" (onClick)="addOrUpdateOneAdress('update')"/> &nbsp;  &nbsp;
            <p-button icon="pi pi-upload" label="Delete address" (onClick)="deleteOneAddress($event)"/>
        </div>

        <div class="p-toolbar-group-end">
                     <p-button icon="pi pi-upload" label="Filter" (onClick)="displayFormFilter()"/>
        </div>
    </p-toolbar>
  </div>

  <div>
    <p-table
    [value]="addresses"
    selectionMode="single"
    [(selection)]="selectedElement"
    styleClass="p-datatable-gridlines"
    [resizableColumns]="true"
    [reorderableColumns]="true"
    dataKey="id"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    [rowHover]="true"
    [showCurrentPageReport]="true"

    [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem">
                <p-tableHeaderCheckbox />
              </th>

              <th *ngFor="let item of keyListElement" > {{item}} </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr >
              <td>
                <p-tableCheckbox [value]="product" />
              </td>

              <td *ngFor="let item of keyListElement" >{{ product[item] }}</td>
            </tr>
        </ng-template>
    </p-table>

    <p>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button"></button>
    </p>
  </div>

  <app-create-and-update-address [titleWindow]="titleFormAddAndUpdate"
              [address]="selectedElement.length>0 ? selectedElement[0] : null"
              [(visible)]="displayDialogCreateAndUpdate" *ngIf="displayDialogCreateAndUpdate">

  </app-create-and-update-address>

  <app-filter-address [(visible)]="displayDialogFilter" (infoFormApiServer)="resultOperationsFilter($event)"></app-filter-address>

<!--   <div class="card flex justify-content-center">
    <p-toast />
    <p-confirmDialog>
        <ng-template pTemplate="message" let-message>
            <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
                <p>{{ message.message }}</p>
            </div>
        </ng-template>
    </p-confirmDialog>
</div> -->

